<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileBrowserTest.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileBrowserContextMenu.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileBrowserTest.Properties.Settings>
            <setting name="SomeString" serializeAs="String">
                <value>Some Value</value>
            </setting>
        </FileBrowserTest.Properties.Settings>
        <FileBrowserContextMenu.Settings>
            <setting name="IsRunOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFileExtensions" serializeAs="String">
                <value>False</value>
            </setting>
        </FileBrowserContextMenu.Settings>
    </userSettings>
</configuration>