<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileBrowserContextMenu.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="FileBrowserContextMenu.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileBrowserContextMenu.Properties.Settings>
            <setting name="StartPath" serializeAs="String">
                <value />
            </setting>
            <setting name="RunProgram" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowFileExtensions" serializeAs="String">
                <value>False</value>
            </setting>
        </FileBrowserContextMenu.Properties.Settings>
        <FileBrowserContextMenu.Settings>
            <setting name="StartPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowFileExtensions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RunProgram" serializeAs="String">
                <value>False</value>
            </setting>
        </FileBrowserContextMenu.Settings>
    </userSettings>
</configuration>